:root {
	box-sizing: border-box;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, p {
	margin: 0;
	line-height: 1.4;
}

#root {
	width: 100vw;
}

body {
	background: #F2F2F2;
	margin: 0;
	font-family: 'Barlow', sans-serif;
	overflow-x: hidden;
}
